body {
  background-color: #ffffff;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.fondo-rosa{
    background-color:  #59be56
}
.fondo-morado{
background-color:   #4ba748
}
.fondo-blanco{
    background-color: white
}
.fondo-morado-oscuro{background-color: #6f1aa0

}


.btn-success {
  border-radius: 50px;
}
