{% extends "base.html" %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center vh-100" 
     style="background-image: url('{{ url_for('static', filename='fondo inicio1.avif') }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="p-4 rounded text-white text-center" style="background-color: #4688a1; width:500px; height:600px;">
        <h4 class="mb-3">Crea tu cuenta en Chef en Proceso</h4>
        <p class="mb-3">Regístrate y comienza tu aventura para convertirte en un chef maestro 👨‍🍳</p>
        <div class="p-4 rounded text-start bg-white mx-auto" style="width:400px; height:470px;">
            <div class="text-center mb-3">
                <i class="bi bi-person-plus-fill text-dark" style="font-size:40px;"></i>
            </div>
            <h4 class="text-dark text-center">Registro de usuario</h4>

            <form class="text-dark" action="/formulario" method="post">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" name="apellido" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" name="email" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="contraseña" required>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Crear cuenta</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
