{% extends "base.html" %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100"
     style="background-image: url('{{ url_for('static', filename='img/inicio.avif') }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="p-4 text-white text-center color_azul; width:500px; max-width:95%; border-radius:30px;">
        <h3 class="mb-3">Crea tu cuenta en Chef en Proceso</h3>
        <h5 class="mb-3">Regístrate y comienza tu aventura para convertirte en un chef maestro</h5>

        <div class="p-4 bg-white mx-auto d-flex flex-column justify-content-center"
             style="width:400px; max-width:100%; border-radius:25px;">
            <div class="text-center mb-3">
                <i class="bi bi-person-plus-fill text-dark" style="font-size:40px;"></i>
            </div>
            <h4 class="text-dark text-center mb-4">Registro de usuario</h4>

            <form class="text-dark" action="{{ url_for('crear_cuenta') }}" method="POST">
                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" required style="border-radius:10px;">
                </div>

                <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" name="apellido" required style="border-radius:10px;">
                </div>

                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" name="email" required style="border-radius:10px;">
                </div>

                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="password" required style="border-radius:10px;">
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success" style="border-radius:12px;">Crear cuenta</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
