{% extends "base.html" %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100"
    style="background-image: url('{{ url_for('static', filename='img/inicio.avif') }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div class="p-4 rounded text-white text-center color_azul"; style="width:500px; max-width:95%; border-radius:30px;">
        <h4 class="mb-3">Recuperar contraseña</h4>
        <p class="mb-3">Ingresa tu correo para recibir un enlace y continuar tu camino como chef</p>
        <div class="p-4 rounded text-start bg-white mx-auto" style="width:400px; max-width:100%;">
            <div class="text-center mb-3">
                <i class="bi bi-envelope-fill text-dark" style="font-size:32px;"></i>
            </div>
            <h5 class="text-dark text-center">Correo registrado</h5>

            {% if mensaje %}
            <div class="alert alert-info text-center mt-2">{{ mensaje }}</div>
            {% endif %}

            <form class="text-dark" action="{{ url_for('olvidaste') }}" method="POST">
                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Ingresa tu correo" required>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-warning">Recuperar contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
